.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# dependencies
/node_modules

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
## Semantic ##
!src/main/resources/src/semantic/tasks/build/
nbbuild/
dist/
nbdist/
.nb-gradle/