<!DOCTYPE HTML>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>[[${status_value}]]</h1>
        <h2>[[${objet_value}]]</h2>
        <br/>
        <p>[[${number_fieldName}]]: [[${number_value}]]</p>
        <p>[[${decision_fieldName}]]: [[${decision_value}]]</p>
        <p>[[${nature_fieldName}]]: [[${nature_value}]]</p>
        <p>[[${code_fieldName}]]: [[${code_value}]]</p>
        <p>[[${filename_fieldName}]]: [[${filename_value}]]</p>
    </body>
</html>