html {
    position: relative;
    min-height: 100%;
}
body,
html,
#root {
    height: auto;
    background-color: #f4f4f4 !important;
}
.ui.vertical.menu.mainMenu {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 1em;
    height: calc(100% - 5.5em);
    box-shadow: 0 2px 2px 0 rgba(34, 36, 38, 0.15);
    overflow-y: auto;
    padding-right: 0.5em;
}
@media (min-height: 550px) {
    .mainMenus {
        height: 100%;
    }
}
.ui.secondary.menu.topBar .header.item.appTitle {
    margin-top: 0.5em;
    margin-left: 3em;
}
.ui.secondary.menu.topBar .header.item.appTitle img {
    width: 3.5em;
}
.wrapperContainer {
    margin-left: 16em;
}
@media only screen and (max-width: 1450px) and (min-width: 723px) {
    .wrapperContainer {
        padding: 0 4em;
    }
}
.mainContainer {
    padding-top: 6em;
    padding-bottom: 3em;
    margin-bottom: 5em;
}
.ui.segment {
    padding-top: 2em;
    padding-bottom: 2em;
}
.ui.segment .ui.label.labelStatus {
    font-size: 1rem;
}
fieldset {
    border: 0;
}
.ui.menu.secondary.topBar {
    background-color: white;
    height: 4.5em;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.ui.menu.secondary.topBar.anatra {
    border-bottom: 2px solid #009999;
}
.ui.menu.secondary.topBar.rosso {
    border-bottom: 2px solid #cc0066;
}
.ui.menu.mainMenu.anatra .header,
.ui.menu.mainMenu.anatra .icon {
    color: #009999;
}
.ui.menu.mainMenu.rosso .header,
.ui.menu.mainMenu.rosso .icon {
    color: #cc0066;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
    background-color: rgba(0, 0, 0, 0.15);
}
.ui.disabled.input.partialUpdateInput,
.ui.disabled.input.partialUpdateInput > input {
    opacity: 1;
}
.ui.grid .column.inline-grid {
    padding-top: 0;
    padding-bottom: 0;
}
.ui.grid .wide.column .simpleInput {
    width: 31.25%;
    margin-bottom: 0;
}

.ui.cards {
    margin-bottom: 0.5em;
}

.ui.label {
    margin-bottom: 0.142857em;
}
ul.pagination {
    padding: 0;
    list-style-type: none;
}
ul.pagination li:not(:first-child) {
    border-left: 1px solid;
    border-color: rgba(34, 36, 38, 0.1);
}
ul.pagination li.active {
    background: rgba(0, 0, 0, 0.05);
}
ul.pagination li a.item:focus {
    outline: 0;
}
.ui.segment h2:after {
    content: ' ';
    display: block;
    border: 1px solid #cc0066;
}
.ui.table.sortable thead tr th,
.ui.table.sortable thead tr th:hover,
.ui.table.sortable thead tr th.sorted,
.ui.table.sortable thead tr th.sorted:hover {
    color: white;
    background-color: #009999;
}
.ui.button.basic.anatra,
.ui.basic.blue.buttons .button {
    box-shadow: 0 0 0 1px #009999 inset !important;
    color: #009999 !important;
}
.ui.button.basic.rosso,
.ui.basic.blue.buttons .button {
    box-shadow: 0 0 0 1px #cc0066 inset !important;
    color: #cc0066 !important;
}
.ui.tabular.menu,
.ui.tabular.menu .active.item {
    border-color: #009999;
}
.ui.form .editor select {
    height: 30px;
    padding: 0;
    background: none;
    padding-left: 1em;
    width: 10em;
}
span.fieldValue {
    font-weight: bold;
}
.ui.steps .step.active .title {
    color: initial;
}
.ui.steps .step > .icons {
    line-height: 1;
    font-size: 2.5em;
    margin: 0 1rem 0 0;
}

/* Home made tooltip, to replace with React SemanticUI Popup once fixed: https://github.com/Semantic-Org/Semantic-UI-React/issues/1126 */
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    border: 1px solid #d4d4d5;
    border-radius: 0.28571429rem;
    box-shadow: 0 2px 4px 0 rgba(25, 96, 168, 0.12),
        0 2px 10px 0 rgba(34, 36, 38, 0.15);
    padding: 0.833em 1em;
    margin: 0 0 0.71428571em;
    max-width: 550px;
    min-width: 25em;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.4285em;
    position: absolute;
    z-index: 1900;
    bottom: 100%;
    left: 50%;
    margin-left: -12.5em;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}