/********** Layout **********/
/* Main Menu */
.ui.vertical.menu.mainMenu {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 1em;
    height: calc(100% - 5.5em);
    box-shadow: 0 2px 2px 0 rgba(34, 36, 38, 0.15);
    overflow-y: auto;
    padding-right: 0.5em;
}

/* Main Container */
.mainContainer {
    padding-top: 6em;
    padding-bottom: 3em;
    margin-bottom: 5em;
}
.wrapperContainer {
    margin-left: 16em;
}

/* Top Bar */
.ui.secondary.menu.topBar .header.item.appTitle {
    margin-top: 0.5em;
    margin-left: 3em;
}
.ui.secondary.menu.topBar i.buger-menu {
    display: none;
}
.ui.secondary.menu.topBar .header.item.appTitle h1 {
    margin-top: 0;
}
.ui.secondary.menu.topBar .header.item.appTitle img {
    width: 3.5em;
}
.ui.secondary.menu.topBar .list-profil .menu.visible {
    max-height: 300px;
    overflow-y: scroll;
}

/********** Utils **********/
/* position */
.float-right {
    float: right;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-justify-end {
    display: flex;
    justify-content: flex-end;
}
.flex-container-column {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.flexyItem {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

/* Margin and padding */
.ml-20-inline-block {
    margin-left: 20px;
    display: inline-block;
}
.ml-5 {
    margin-left: 5px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.mr-0 {
    margin-right: 0px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mt-14 {
    margin-top: 14px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.my-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.pt-0 {
    padding-top: 0;
}
.pl-0 {
    padding-left: 0;
}
.pl-5 {
    padding-left: 5px
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Border */
.bb-1 {
    border-bottom: 1px solid rgba(34,36,38,.15);
}

/* Max height */
.maxh-300 {
    max-height: 300px;
    overflow-y: scroll;
}

/* Width */
.w-100 {
    width: 100%
}

/* icon */
i.icon.l-icon {
    font-size: 1.5em;
}
i.icon.xl-icon {
    font-size: 2em;
}
/* text */
.text-center {
    text-align: center
}
.text-bold {
    font-weight: bold;
}
.text-muted {
    font-size: 0.8em;
    color: #767676;
}

.line-through {
    text-decoration: line-through;
}

/* button */
.ui.basic.primary.button.link {
    box-shadow: none !important;
    padding: 0 !important;
}
.ui.basic.primary.button.link:hover {
    box-shadow: none !important;
    text-decoration: underline;
}
.ui.basic.primary.button.link:focus  {
    box-shadow: none !important;
}

/* I don't know but it's usefull */
.pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}
.text-ellipsis {
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mw-200 {
    max-width: 200px;
}
/********** Components **********/

/* Skip to content */
.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}
a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 180px;
    top: 30px;
    width: auto;
    height: auto;
    overflow: visible;
}

/* Overlay */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    cursor: pointer;
}

/* Segment */
.ui.segment .ui.label.labelStatus {
    font-size: 1rem;
}

/* Pagination */
ul.pagination {
    padding: 0;
    list-style-type: none;
}
ul.pagination li:not(:first-child) {
    border-left: 1px solid;
    border-color: rgba(34, 36, 38, 0.1);
}
ul.pagination li.active {
    background: rgba(0, 0, 0, 0.05);
}
ul.pagination li a.item:focus {
    outline: 0;
}

/* Field */
fieldset {
    border: 0;
}
span.fieldValue {
    font-weight: bold;
}
.ui.disabled.input.partialUpdateInput,
.ui.disabled.input.partialUpdateInput > input {
    opacity: 1;
}

.fieldLabel {
    display: block;
    color: #767676;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Form */
.footerForm {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.footerForm button {
    width: 125px;
}

/* Contener */
.block-information {
    padding: 10px;
    box-shadow: 0px 0px 8px -0.5px rgba(0,0,0,0.40);
}
/* Tooltip */
/* Home made tooltip, to replace with React SemanticUI Popup once fixed: https://github.com/Semantic-Org/Semantic-UI-React/issues/1126 */
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    border: 1px solid #d4d4d5;
    border-radius: 0.28571429rem;
    box-shadow: 0 2px 4px 0 rgba(25, 96, 168, 0.12),
        0 2px 10px 0 rgba(34, 36, 38, 0.15);
    padding: 0.833em 1em;
    margin: 0 0 0.71428571em;
    max-width: 550px;
    min-width: 25em;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.4285em;
    position: absolute;
    z-index: 1900;
    bottom: 100%;
    left: 50%;
    margin-left: -12.5em;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Table */
.ui.table tbody tr td.selectable>a:not(.ui) {
    color:inherit !important;
}
.ui.table tbody tr td.selectable.no-hover:hover {
    background:none !important;
    color: inherit !important;
}

/* Collapsed List */
i.collapsed-text-icon.circular.icon {
    padding: unset !important;
    height: unset !important;
    cursor: pointer;
}

/* Dropzone */
.dropzone {
    position: relative;
    display: inline-block;
    width: 290px;
    border-width: 1px;
    border-color: rgba(34, 36, 38, 0.60);
    border-style: dashed;
    border-radius: 5px;
    padding: 1em;
    background-color: rgba(34,36,38,0.05);
    cursor: pointer;
}
.dropzone.disabled {
    cursor: default;
}

/* Quick View */
.quick-view {
    position: fixed;
    display: flex;
    background-color: #ffffff;
    padding: 10px 15px;
    right: -600px;
    left: auto;
    animation: close-slide-left-to-right 0.5s ease;
    box-shadow: 0px 0px 8px -0.5px rgba(0,0,0,0.40);
    width: 600px;
    z-index: 100;
}
.quick-view.open {
    right: 10px;
    animation: open-slide-right-to-left 0.5s ease;
}

/* Animations */
@keyframes close-slide-left-to-right {
    from {
        right: 10px;
    }
    to {
        right: -600px;
    }
}
@keyframes open-slide-right-to-left {
    from {
        right: -600px;
    }
    to {
        right: 10px;
    }
}

/* Deletable List */
.deletableListItem {
    border-bottom: 1px solid rgba(34,36,38,.15);
    padding: 5px 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}
.deletableListItem:last-child {
    border: none;
}

/* Chips */
.chip {
    border-radius: 15px;
    border: 1px solid rgba(34,36,38,.3);
    display: inline-block;
    padding: 5px 10px;
    margin-right: 20px;
}

.chip .remove {
    display: inline-block;
    cursor: pointer;
}
.chip .remove i {
    padding: 0px 5px;
}

/* Mobile Picker */
.picker-container {
    z-index: 10001;
    width: 100%;
}
.picker-container,
.picker-container *,
.picker-container *:before,
.picker-container *:after {
    box-sizing: border-box;
}
.picker-container .picker-inner {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    font-size: 1.2em;
    -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, #ffffff 20%, #ffffff 80%, transparent 95%, transparent);
}
.picker-container .picker-column {
    flex: 1 1;
    position: relative;
    max-height: 100%;
    overflow: hidden;
    text-align: center;
}
.picker-container .picker-column .picker-scroller {
    transition: 300ms;
    transition-timing-function: ease-out;
}
.picker-container .picker-column .picker-item {
    position: relative;
    padding: 0 10px;
    white-space: nowrap;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
}
.picker-container .picker-column .picker-item.picker-item-selected {
    color: #222;
}
.picker-container .picker-highlight {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.picker-container .picker-highlight:before,
.picker-container .picker-highlight:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: auto;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    transform: scaleY(0.5);
}
.picker-container .picker-highlight:before {
    top: 0;
    bottom: auto;
}
.picker-container .picker-highlight:after {
    bottom: 0;
    top: auto;
}

/********** Responsive **********/

@media (min-height: 550px) {
    /* Main Menu */
    .mainMenus {
        height: 100%;
    }
}

@media only screen and (max-width: 1450px) and (min-width: 723px) {
    /* Container */
    .wrapperContainer {
        padding: 0 4em;
    }
}

@media (max-width: 1100px) {
    /* Top Bar */
    .ui.secondary.menu.topBar .header.item.appTitle {
        margin-left: 0;
    }
    .ui.secondary.menu.topBar i.buger-menu {
        align-self: center;
        display: block;
        font-size: 30px;
        margin: 0.5em 10px 0 20px;
    }

    /* Container */
    .wrapperContainer {
        margin-left: 0;
    }

    /* Main Menu */
    .ui.vertical.menu.mainMenu {
        left: -220px;
        animation: slide-right-to-left 0.5s ease;
    }
    .ui.vertical.menu.mainMenu.open {
        left: 0px;
        animation: slide-left-to-right 0.5s ease;
    }

    /* Animations */
    @keyframes slide-left-to-right {
        from {
            left: -220px;
        }
        to {
            left: 0;
        }
    }
    @keyframes slide-right-to-left {
        from {
            left: 0;
        }
        to {
            left: -220px;
        }
    }
}
