<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="service-name" source="spring.application.name" />
    <springProperty scope="context" name="environment" source="spring.profiles.active" />
    <springProperty scope="context" name="logfile" source="logging.file" defaultValue="./build/logs/convocation-service.log"/>
    <springProperty scope="context" name="logstashhost" source="logging.logstash.host" defaultValue="null"/>
    <springProperty scope="context" name="maxFileSize" source="logging.filesize.max" defaultValue="100MB"/>
    <springProperty scope="context" name="maxArchiveSize" source="logging.archivesize.max" defaultValue="10GB"/>
    <springProperty scope="context" name="maxHistory" source="logging.history.max" defaultValue="60"/>


    <appender name="logStashAppender" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashhost}</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="consoleOut" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logfile}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logfile}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>${maxFileSize}</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
            <totalSizeCap>${maxArchiveSize}</totalSizeCap>
        </rollingPolicy>
        <!-- <encoder class="net.logstash.logback.encoder.LogstashEncoder" /> -->
        <encoder>
            <pattern>%d{dd-MMM-yy HH:mm:ss.SSS} %-5level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web.filter" level="DEBUG" />
    <logger name="org.springframework.web.client" level="DEBUG" />
    <logger name="org.springframework.security.web.access" level="DEBUG" />
    <logger name="fr.sictiam.stela" level="DEBUG" />
    <root level="INFO">
        <if condition='!p("logstashhost").equals("null")'>
            <then>
                <appender-ref ref="logStashAppender" />
            </then>
        </if>

        <appender-ref ref="rolling" />
        <appender-ref ref="consoleOut" />
    </root>


</configuration>