html {
    position: relative;
    min-height: 100%;
}
body, html {
    height: auto;
    background-color: #f7f7f7;
}
.mainMenu .header.item.appTitle {
    height: 4.5em;
}
.wrapperContainer { 
    margin-left: 15em; 
    padding: 0 1em 0 1em;
} 
.mainContainer {
    padding-top: 6em;
    padding-bottom: 3em;
    margin-bottom: 5em;
}
.ui.segment {
    padding-bottom: 2em;
}
.ui.segment .ui.label.labelStatus {
    font-size: 1rem;
}
fieldset {
    border: 0;
}
.menu.secondary.topBar {
    background-color: white;
    height: 4.5em;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.ui.toggle.checkbox .box:before, 
.ui.toggle.checkbox label:before {
    background-color: rgba(0,0,0,.15);
}
.ui.disabled.input.partialUpdateInput,
.ui.disabled.input.partialUpdateInput>input {
    opacity: 1;
}
.ui.grid .column.inline-grid {
    padding-top: 0;
    padding-bottom: 0;
}
.ui.grid .wide.column .simpleInput {
    width: 31.25%;
    margin-bottom: 0;
}
.ui.cards {
    margin-bottom: 0.5em;
}