html {
    position: relative;
    min-height: 100%;
}
body, html {
    height: auto;
}
.wrapperContainer { 
    margin-left: 15em; 
    padding: 0 1em 0 1em; 
} 
.mainContainer {
    padding-top: 5em;
    padding-bottom: 3em;
    margin-bottom: 5em;
}
.secondContent {
    margin-top: 3em;
}
fieldset {
    border: 0;
}
.menu.secondary.topBar {
    background-color: white;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.ui.toggle.checkbox .box:before, 
.ui.toggle.checkbox label:before {
    background-color: rgba(0,0,0,.15);
}
.ui.disabled.input.partialUpdateInput,
.ui.disabled.input.partialUpdateInput>input {
    opacity: 1;
}